<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/c1.css')}}">
</head>
<body>
    <center>
        <h1>This is rendered by Flask</h1>
        <h1>We are using render_template function not render function</h1>
        {{name}}
        {{age}}

        <br>


        <img src="{{url_for('static',filename='images/dhoni.webp')}}" alt="">










    </center>
</body>
</html>